.about-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .fake {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        color: $clr-danger;
    }
}