.about-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 5%;

    .fake {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        color: $clr-danger;
    }

    &>* {
        flex-basis: 45%;
        flex-grow: 1;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 70h;
        gap: 5px;

        &>* {
            background-color: $primary-clr-300;
            border-radius: 10px;
            border: 1px solid #282c34;
            ;
            padding: 8px;
        }

        p {
            padding: 10px;
        }

        .p {
            @include for-narrow-layout {
                display: none;
            }

            @include for-mobile-layout {
                display: none;
            }

        }
    }

    .map {
        border: 1px solid #282c34;
        ;
        min-height: 70vh;

        &>* {
            border-radius: 25px;
        }
    }

    .visit-us-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 130px;

        h2,
        h3 {
            margin: 6px auto;
        }

        h3 {
            cursor: default;
            padding: 0 10px;
            border-radius: 5px;
        }
    }

}

// .about-page {
//     height: 100%;
//     width: 100vw;
//     display: flex;
//     flex-direction: column;
//     gap: 1em;

//     .fake {
//         text-transform: uppercase;
//         font-weight: bold;
//         text-decoration: underline;
//         color: $clr-danger;
//     }
// }