.robor-edit {
    >h2 {
        font-size: 35px;
    }
}

.edit-container {
    min-width: 350px;
    min-height: 200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ece9e9;
    border-radius: 15px;
    padding: 0 20px;
    position: relative;

    .basic-details-container {
        flex-basis: 50%;
        height: 100%;

        label {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        input {
            padding-left: 5px;
            margin-bottom: 14px;
            flex-grow: 1;
        }

        .img-edit {
            margin-bottom: -20px;
            height: 80px;
            max-width: 80px;
            border-radius: 5px;
        }

        h3 {
            display: flex;
            justify-content: flex-start;
        }
    }

    .stock-labels-container {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
        gap: 30px;

        .labels {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

            .gap {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }

    button[type='submit'] {
        padding: 0.5em 1em;
        max-width: 50%;
        flex-grow: 1;
        margin: 15px 30%;
    }
}

@media screen and (min-width: 700px) {
    .edit-container  {
        min-width: 650px;
        min-height: 400px;
    }

}

.back-btn {
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    color: #282c34;;
    background-color: $primary-clr-100;
    text-decoration: none;
    padding: 1px 6px;
    position: absolute;
    left: 8%;
    margin-top: 12px;

    &:hover {
        font-weight: 600;
    }
}



