.robot-details {

    .img {
        max-width: 12.5rem;
        display: block;
    }

    .labels,
    .date {
        margin-bottom: 0.5em;
    }

    .img-container {
        position: relative;
        display: inline-block;

        .out-of-stock {
            position: absolute;
            right: -10px;
            bottom: -5px;
            max-width: 100px;
        }
    }

    .price {
        margin-bottom: 1em;
    }

    .buttons-container {
        margin-bottom: 1em;
        display: flex;
        gap: 0.5em;

        &>* {
            padding: 0.5em 1em;
            font-size: 1em;
            color: $primary-clr-100;
            background-color: $primary-clr-500;
            border-radius: 6px;
            border: none;

            &:hover {
                background-color: darken($primary-clr-500, 5%);
            }
        }

        .review-form-btn{
            min-width: 7.5em;
        }
    }

    .signup-link:hover{
        text-decoration: underline;
    }
}