.user-profile {
    &>header {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        gap: 1em;

        .edit-btn {
            margin-top: 10px;
            margin-inline-start: 1rem;
            max-height: 20px;
        }
    }

    &>.robots,
    &>.reviews {
        display: flex;
        flex-direction: column;
        gap: 1em;

        &.robots{
            margin-bottom: 2em;
        }
    }
}