.user-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 55vh;
    min-width: 200px;
    margin: 40px auto;
    background-color: #9da8a77d;
    border-radius: 15px;
    padding: 5px 10px;

    .error-msg {
        color: $clr-danger;
    }

    h2,
    ul {
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    input[type='checkbox'] {
        margin-bottom: 0.7rem;
    }

    input[type='text'],
    input[type='password'] {
        width: 250px;
        border-radius: 5px;
        padding-left: 5px;
        margin-bottom: 14px;
    }

    fieldset {
        margin-top: 10px;
        padding: 0;
        border: none;
    }

    .main-btn-1{
        margin-left: 150px;

    }
}