.review-form {
    max-width: 300px;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    background-color: $primary-clr-300;
    box-shadow: 0 0 8px $primary-clr-500;
    transition: .5s;
    
    &.open {
        max-height: 1000px;
        padding: 1em;
    }

    .sub-header,
    form>ul>li {
        margin-bottom: 1rem;
    }

    .sub-header {
        color: $primary-clr-800;
    }

    input,
    textarea {
        width: 100%;
    }

    textarea {
        resize: vertical;
        height: 13em;
    }
}