.review-preview {
    position: relative;
    &>*:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .title {
        font-weight: bold;
    }

    .delete-btn {
        position: absolute;
        top: 1px;
        right: 1px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .preview-footer {
        display: flex;
        gap: 0.5em;
        color: $clr-grey;
        font-size: 0.8em;

        .writer:hover {
            text-decoration: underline;
        }
    }
}