.robot-preview {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    height: 300px;
    position: relative;
    margin-top: 10px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 300px;
        background-color: $primary-clr-100;
        border-radius: 6px;
        border: 2px solid black;
        margin-top: 45px;
        position: relative;
        box-shadow: 0 0 10px $primary-clr-500;

        &:hover {
            box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 10%);
        }

        .robo_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: -50px;
            gap: 3em;
            margin-top: 10px;

            h2 {
                font-size: rem(26px);
            }

            p {
                font-size: rem(17px);
            }
        }

        .created {
            margin-top: -40px;
            margin-bottom: 60px;
        }

        .img {
            width: 100%;
            background-color: white;
            height: 45%;
            display: flex;
            justify-content: center;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;

            img {
                max-width: 140px;
                object-fit: cover;
                height: 100%;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .out-of-stock {
            max-height: 60px;
            position: absolute;
            right: -10px;
            bottom: -17px;
        }
    }

    .add-to-cart {
        // z-index: 1;
        position: absolute;
        bottom: -2rem;
        right: 3.5em;
        color: #fff;
        cursor: pointer;
    }

    .add-cart {
        z-index: 3;
        position: absolute;
        bottom: -2rem;
        right: 2em;
        color: #fff;
        cursor: pointer;
        background-color: #0d6efd;
        border-color: #0d6efd;
        border-radius: 5px;
        padding: 6px;
        width: 80%;

        &:hover {
            background: linear-gradient(to bottom, #476e9e 5%, #0d6efd 100%);
        }
    }
}