.user-msg {
    width: 90%;
    max-width: 400px;
    min-height: 50px;
    position: fixed;
    right: -10px;
    bottom: 20px;
    transform: translateX(100%);
    transition: 0.7s;
    background-color: $clr-black;
    color: whitesmoke;
    opacity: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    box-shadow: 0 0 5px rgb(15, 15, 15);

    .close-btn {
        height: 2rem;
        aspect-ratio: 1/1;
        color: $primary-clr-100;
        font-size: 1em;
        border: none;
        border-radius: 50%;
        background-color: unset;

        &:hover {
            background-color: lighten($color: $clr-black, $amount: 10%);
        }
    }

    &.open {
        opacity: 1;
        right: 20px;
        transform: translateX(0);
    }

    &.danger {
        border-inline-start: 13px solid red;
    }

    &.success {
        border-inline-start: 13px solid green;
    }
}

@media screen and (min-width: 600px) {
    .user-msg {
        width: unset;
        min-width: 400px
    }
}