.vertical-bar-chart {    
    width: calc(100% - 2em);
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    

    .chart-container {
        flex-basis: 0;
        flex-grow: 1;
        overflow: hidden;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    .vertical-bar-chart {
        flex-basis: 0;
    }
}