/* COLOR PALETTE */
$primary-clr-100: rgb(245, 245, 245);
$primary-clr-200: rgb(233, 216, 253);
$primary-clr-300: rgb(214, 183, 248);
$primary-clr-500: rgb(167, 98, 246);
$primary-clr-600: rgb(141, 72, 220);
$primary-clr-800: rgb(133, 22, 213);
$primary-clr-850: rgb(91 57 189);
$primary-clr-900: rgb(84, 10, 138);

$clr-danger: rgb(233, 24, 24);
$clr-grey: grey;
$clr-black: rgb(33, 33, 33);