/* COLOR PALETTE */
$primary-clr-100: #f5f5f5;
$primary-clr-200: #e9d8fd;
$primary-clr-300: #d6b7f8;
$primary-clr-500: #a762f6;
$primary-clr-600: #8d48dc;
$primary-clr-800: #8516d5;
$primary-clr-850: #5b39bd;
$primary-clr-900: #540a8a;

$clr-danger: #e91818;
$clr-grey: #808080;
$clr-black: #212121;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;