  .cart-app {
    position: absolute;
    right: -15px;
    height: 80vh;
    z-index: 10;
    width: rem(440px);

    .modal-close-btn {
      color: #6b778c;
      position: absolute;
      right: 1.3em;
      top: 0.3em;
      z-index: 2;
      cursor: pointer;

      &:hover {
        background-color: rgba(128, 128, 128, 0.406);
        height: 3.7%;
        color: #172b4d;
      }
    }

    .block {
      height: 80vh;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 5px 0px lighten($primary-clr-500, 10%) inset;

      .col-1 {
        flex: 1;
      }

      .col-2 {
        // flex: 2;
      }

      .col-3 {
        // flex: 3;
      }

      .col-name {
        margin-left: 10px;
        text-decoration: underline;
        cursor: pointer;
        margin-left: -2em;
      }

      *>img {
        width: 60px;
        object-fit: cover;
        height: 40px;
      }

      .btn-cart {
        font-size: 0.8rem;
        padding: 0.2rem;
        margin: 0.1rem;
        border-radius: 0.5rem;
        border: 0.1rem #404040 solid;
        background-color: #4049f0;
        width: 100%;
        cursor: pointer;
      }

      h1,
      h2 {
        margin: 0.5rem 0;
      }

      h1 {
        font-size: 1.5rem;
        background-color: rgba(255, 255, 255, 0.379);
        padding: 10px;
        border-radius: 5px;
      }

      h2 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.379);
        border-bottom: 1px solid black;
      }

      .row {
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 10px;

        .text-right {
          text-align: right;
        }
      }

      hr {
        margin-top: 15px;
      }
    }

    .log-cart {
      margin-top: 1.5em;
      padding: 0.5em 1em;
      float: right;
      color: $primary-clr-900;
      border: 1px solid $primary-clr-900;
      border-radius: 6em;
      background-color: $primary-clr-100;

      &:hover {
        color: $primary-clr-100;
        background-color: $primary-clr-500;
      }
    }

    .admin-clear-cart {
      font-size: 0.8rem;
      position: absolute;
      top: 25px;
      padding: 0.2rem;
      border-radius: 0.5rem;
      border: 0.1rem #404040 solid;
      background-color: #4049f0;
      width: 50%;
      left: 30%;
      cursor: pointer;
    }
  }