/* SETUP */
@import './setup/typography';
@import './setup/variables';
@import './setup/functions';
@import './setup/mixins';
@import './setup/animista';

/* BASIC */
@import './basic/base';
@import './basic/helper';
@import './basic/layout';

/* PAGES */
@import './pages/about-page';
@import './pages/home-page';
@import './pages/dashboard';
@import './pages/robot-app';
@import './pages/robot-details';
@import './pages/robot-edit';
@import './pages/login-signup';
@import './pages/user-app';
@import './pages/user-profile';
@import './pages/user-edit';

/* GENERAL */
@import './general/loader';


/* GENERAL */
@import './pages/cart/cart-app';


/* COMPONENTS */
@import './cmps/app-header';
@import './cmps/robot-list';
@import './cmps/robot-preview';
@import './cmps/robot-filter';
@import './cmps/review-form';
@import './cmps/star-rate-picker';
@import './cmps/review-list';
@import './cmps/review-preview';
@import './cmps/page-bar';
@import './cmps/user-img';
@import './cmps/user-list';
@import './cmps/user-preview';
@import './cmps/question-modal';
@import './cmps/user-msg';
@import './cmps/chat-room';
@import './cmps/google-map';
@import './cmps/vertical-bar-chart';


.robot-preview-2 {
    display: inline-block;
    padding: 1em;
    text-align: center;
    border-radius: 6px;
    background-color: $primary-clr-100;
    box-shadow: 0 0 10px $primary-clr-500;

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .name {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .img {
        max-width: 100px;
    }

    .out-of-stock {
        max-height: 60px;
        position: absolute;
        right: -10px;
        bottom: -17px;
    }
}